*{
    margin: 0;
    padding: 0;
}

.cadastro {
    width: 20%;
}

label {
    font-size: 14px;
    font-weight: 600;
}
.bot2 {
    padding: 10px;
    background-color: #f72585;
    color: #fff;
    width: 110px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    transition: all linear 160ms;
    cursor: pointer;
    margin-top: 5%;
    margin-left: 47%;
}
a.bot2{
    display: inline-block;
    justify-items: center;
}
.bot2:hover {
    transform: scale(1.05);
    background-color: #ff0676;
    color: #000;
}