
*{
  margin: 0;
  padding: 0;
}
h2{
  color: rgba(12, 195, 28, 1);
}
h3{
  padding: 2.5%;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h3{
  padding: 2.5% 0 ;
  color:rgba(12, 195, 28, 1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h4{
  padding: 10% 0 2.5% 0;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
select{
  border: 0px;
  color:rgba(12, 195, 28, 1);
  font-size: medium;
  font-weight: bold;
}
input[type="number"]{
  width: 30px;
  border: none;
  color:rgba(12, 195, 28, 1);
  font-size: medium;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
input[type="text"]{

  border: none;
  color:rgba(12, 195, 28, 1);
  font-size: medium;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}
form{
  text-align: center;
}
/*Cabeçalho*/
#cabecalho{
  margin-bottom: 5%;
}
.logo{
  margin: 2% 0;
}
#titulo{
  text-align: center;
  background: white;
  font-size: 3em;
}
.menu{
  text-decoration: none;
  color: #0CC31C;
}
.menu li{
  margin: 2% 6.5% 2% 2%;
}
.menu ul li{
  display: inline-flex;
  list-style: none;
}
.menu ul li img{
  width: 15%;
  border-radius: 50%;
  margin-left: 75%;
}
.menu ul li a{
 text-decoration: none;
  color:  #3FFF50;
  ;
}
.menu ul li a:hover {
 background: #37CB44;
  color: white;
  padding: 0 5%;
}
/*Corpo*/
.inerte{
  display: flex;
}
.item{
  min-width: 15%;
  max-width: 20%;
  min-height: 13%;
  padding:  2% 0.1%;
}
.item img{
  width: 90%;
  height: 90%;
  border-radius: 12px;
  pointer-events: none;
}
.fim{
  border-bottom: 1px solid gray;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),  0px 4px 4px rgba(0, 0, 0, 0.25),  0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.carrosel{
  cursor: grab;
  overflow: hidden;
}
/*Condição*/
.ps4{
  color: #4e9ac5;
}
.ps5{
  color: #733ba8;
}
.xs{
  color: #af6f34;
}
.xx{
  color: #e93e3e;
}
.rodape{  
  text-align: center;
  background: linear-gradient(180deg, #FFFFFF 0%, #93FF9C 44.7%, #37CB44 100%);
}
